*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'playfair Display' serif;
}


section{
    min-height: 100vh;
    padding: 15rem 9% 2rem;
    color: black;
}

header{
    color: black;
}

.seccc{
    background: linear-gradient(rgba(0,0,0,0), rgb(0, 0, 0, 1));
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}


nav{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 100;
    box-shadow: 2px 2px 8px black;
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.logo{
    font-size: 1.5rem;
    font-weight: 700;
    color: black;
    text-decoration: none;
    margin-left: 1rem;
}

.navlinks{
    display: flex;
    gap: 30px;
    list-style-type: none;
    font-weight: 600;
    
}

.navlinks a{
    color: black;
    text-decoration: none;
}

.navlinks a:hover{
    border-bottom: 1px solid;
}

.sec1{
    padding: 15rem 9% 2rem;

}

.sec1 h1{
    font-family: 'playfair Display', serif;
    font-size: 4rem;
    text-align: center;
    margin-bottom: 10px;
    color: black;
    font-weight: 800;
    letter-spacing: .3rem;
}

.sec1 p{
    text-align: center;
    letter-spacing: .3rem;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 1.2rem;
}


hr{
    width: 80%;
    border: none;
    margin-right: 10%;
    margin-left: 10%;
    border-top: .5px solid black;
}



.sec2{
    background: linear-gradient(135deg, lightgray);
    padding: 5rem;
    text-align: center;
}

.sec2 h2{
    font-size: 4rem;
    letter-spacing: .1rem;
    font-weight: 600;
    color: black;
    margin-bottom: 40px;
}

.sec2 .box1{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 2.5rem;

}

.sec2 .box1 .box2{
    position: relative;
    overflow: hidden;
    display: flex;
}

.sec2 .box2 img{
   width: 100%;
   height: 400px;
    transition: .5s ease;
}

.sec2 .box2:hover img{
    transform: scale(1.1);
}

.sec2 .box2:hover .box-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), black);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(200px);
    transition: .5s ease;
}

.sec2 .box2:hover .box-layer:hover{
    transform: translateY(0);
}

.box-layer a{
    color: black;
    background-color: gray;
    padding: 1rem;
    border-radius: 50%;
}



.sec3{
    padding: 5rem 9% 2rem;
    background: linear-gradient(135deg, gray);
    text-align: center;
    color: black;
}

.sec3 h1{
   font-size: 3.5rem;
   color: black;
   font-weight: 600;
   letter-spacing: .3rem;
}

.sec3 p{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 4rem;
}

.sec3 .box1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: black;
    gap: 30px;
    text-align: justify;
    text-align: center;
}

.sec3 .box1 p{
    margin-top: 1rem;
}

.sec3 .box1 h2{
    margin-top: 4rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
} 


.sec3 .box2 img{
    width: 500px;
    height: 300px;
    transition: .5s ease-in-out;
}

.sec3 .box2 img:hover{
    transform: translateY(-9px);
    border-radius: 30px;
}

.sec4{
    background: linear-gradient(135deg, lightgray);
    text-align: center;
    min-height: 80vh;
    padding: 5rem 9% 2rem;
    color: black;
}

.sec4 h1{
    font-size: 3rem;
    color: black;
    margin-bottom: 3rem;
}

.sec4 .box1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.sec4 img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

/* Features section */
.sect2{
    background: linear-gradient(135deg, lightgray);
    padding: 5rem;
    text-align: center;
}

.sect2 h2{
    font-size: 4rem;
    letter-spacing: .1rem;
    font-weight: 600;
    color: black;
    margin-bottom: 40px;
}

.sect2 .box1{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 2.5rem;

}
.sect2 .box1 .box2{
    position: relative;
    overflow: hidden;
    display: flex;
}

.sect2 .box2 img{
   width: 100%;
   height: 400px;
    transition: .5s ease;
}

.sect2 .box2:hover img{
    transform: scale(1.1);
}

.sect2 .box2:hover .box-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), black);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(200px);
    transition: .5s ease;
}

.sect2 .box2:hover .box-layer:hover{
    transform: translateY(0);
}

.box-layer a{
    color: black;
    background-color: gray;
    padding: 1rem;
    border-radius: 50%;
}


.boxx{
    font-size: 2rem;
}

/* PRODUCT SECTION */

.sect1{
    padding: 5rem 9% 2rem;
    color: black;
    background: linear-gradient( lightgray);
}

.sect1 img{
    width: 400px;
    height: 500px;
}

.sect1 .box1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.sect1 h1{
    font-size: 3rem;
    margin-bottom: 3rem;
}

.sect1 p{
    font-size: 1.2rem;
    margin-bottom: 4rem;
}

.sect1 .btn1{
    display: inline-block;
    padding: 1rem 10rem 1rem;
    font-size: 1rem;
    margin-bottom: 3rem;
    background-color: green;
    color: white;
    letter-spacing: .1rem;
    font-weight: 600;
    border-radius: 10px;
    border: 1px solid green;
    transition: .5s ease-in-out;
}

.sect1 .btn1 a{
    color: white;
}

.sect1 .btn1:hover{
   background-color: rgb(2, 48, 2);
   transform: translateY(-5px);
}


.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

.overlay:target{
    display: flex;
}

.overlay img{
    max-width: 100vh;
    max-height: 100vh;
    border-radius: 10px;
}

.close{
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 40px;
    text-decoration: none;
}

.overlay a{
    color: white;
}

/* FOOTER */

.sec5{
    padding: 5rem 9% 2rem;
    text-align: center;
    background: gray;
}


.socail-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid lightgray;
    border-radius: 50%;
    font-size: 2rem;
    color: lightgray;
    margin: 1rem 1rem 1.5rem;
    transition: .5s ease-in-out;
}


.socail-media a:hover{
    background: lightgray;
    color: black;
    box-shadow: 0 0 1rem lightgray;
    transform: translateY(-9px);
}

 .btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: lightgray;
    border-radius: 4rem;
    box-shadow: 0 0 1rem lightgray;
    font-size: 1.6rem;
    color: black;
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover{
    box-shadow: none;
    color: black;
} 

.sec5 .box1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-text p{
    font-size: 1.6rem;
}
.footer-icontop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: #ffd68f;
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-icontop a:hover{
    box-shadow: 0 0 1rem lightgray;
}

.footer-icontop a i{
    font-size: 2.4rem;
    color: gray;
}






@media (max-width: 991px) {
    .header{
        padding: 2rem 3%;
    }

    section{
        padding: 10rem 3% 2rem;
    }

    .sect2{
        padding: 5rem;
    }

    .sec1{
        min-height: 100vh;
    }

    .sec2 .box1{
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .sec2 .box2 img{
        width: 100%;
        height: 100%;
    }
    
    .sec3 .box1{
        grid-template-columns: repeat(2, 1fr);
        padding: 2rem 3%;
    }

    .sec3 .box2 img{
        width: 300px;
    }

    .sec4 .box1{
        grid-template-columns: repeat(2, 1fr);
    }

    .sec4 .box2{
        margin-bottom: 2rem;
    }
    .sect1 .box1{
        grid-template-columns: repeat(1, 1fr);
    }

    .sect1{
        text-align: center;
    }

    .sect2 .box1{
        grid-template-columns: repeat(2, 1fr);
    }

    .footer{
        padding: 2rem 3%;
    }
}

@media (max-width: 768px) {
    #menu-icon{
        display: block;
    }

    .navlinks {
        position: absolute;
        top: 100%;
        left: 0%;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navlinks.active{
        display: block;
    }

    .sec1{
        min-height: 70vh;
    }

    .footer{
        flex-direction: column-reverse;
    }

    .footer p{
        text-align: center;
        margin-top: 2rem;
    }
}    



@media (max-width: 480px) {

     #menu-icon{
        display: block;
    }

    .navlinks {
        position: absolute;
        top: 100%;
        left: 0%;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navlinks.active{
        display: block;
    }

    .header{
        padding: 1rem 2%;
    }

    .section{
        padding: 5rem 5% 1rem;
    }

    .sec1{
        min-height: 90vh;
    }

    .sec2 .box1{
        grid-template-columns: repeat(1, 1fr);
    }

    .sec2 h2{
        font-size: 3rem;
    }

    .sec3 .box1{
        grid-template-columns: repeat(1, 1fr);
    }

    .sec3 .box2 img{
        width: 300px;
    }

    .sec3 h1{
        font-size: 2rem;
    }

    .sec4 .box1{
        grid-template-columns: repeat(1, 1fr);
    }

     .sect2{
        padding: 5rem 3%;
    }

    .sect2 h3{
        font-size: 1.5rem;
    }

    .sect2 .box1{
        grid-template-columns: repeat(1, 1fr);
    }

    .sect1 .box1{
        grid-template-columns: repeat(1, 1fr);
    }

    .sect1{
        text-align: center;
        padding: 6rem 1% ;
    }

    .sect1 p{
        font-size: 1rem;
    }

    .sect1 h1{
        font-size: 2rem;
    }

    .sect1 .btn1{
        padding: 1rem 3rem 1rem;

    }

    .sect1 .box2 img{
        width:300px;
    }


    .footer{
        flex-direction: column-reverse;
    }

    .footer p{
        text-align: center;
        margin-top: 2rem;
    }
}    

@media (max-width:638px){
    .sec1{
        min-height: 100vh;
    }
    .sec2 .box1{
        grid-template-columns: repeat(1, 1fr);
    }

    .sec3 .box1{
        grid-template-columns: repeat(1, 1fr);
    }

     .sect2{
        padding: 6rem 3%;
    }

    .sect2 h3{
        font-size: 2rem;
    }

    .footer{
        flex-direction: column-reverse;
    }

    .footer p{
        text-align: center;
        margin-top: 2rem;
    }
}

@media (max-width: 365px){

      #menu-icon{
        display: block;
    }

    .navlinks {
        position: absolute;
        top: 100%;
        left: 0%;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navlinks.active{
        display: block;
    }

    .sec1{
        min-height: 100vh;
    }

    .sec1 h1{
        font-size: 3rem;
    }

    .sec2{
        padding: 5rem 3%;
    }
    .sec2 .box1{
        grid-template-columns: repeat(1, 1fr);
    }


    .sect2{
        padding: 5rem 3%;
    }

    .sect2 h3{
        font-size: 1.5rem;
    }

    .sect2 .box1{
        grid-template-columns: repeat(1, 1fr);
    }

     .sect1 .box1{
        grid-template-columns: repeat(1, 1fr);
    }

    .sect1{
        text-align: center;
        padding: 6rem 1% ;
    }

    .sect1 p{
        font-size: 1rem;
    }

    .sect1 h1{
        font-size: 2rem;
    }

    .sect1 .btn1{
        padding: 1rem 3rem 1rem;

    }

    .sect1 .box2 img{
        width:300px;
    }

    .sec3 .box1{
        grid-template-columns: repeat(1, 1fr);
    }

    .sec3{
        padding: 5rem 1%;
    }
}

@media (max-width: 1060px) {
    .header{
        padding: 5rem 3%;
    }

    section{
        padding: 10rem 3% 2rem;
    }

    .sect2{
        padding: 5rem;
    }

    .sec1{
        min-height: 100vh;
    }



    .sec2 .box2 img{
        width: 100%;
        height: 100%;
    }

    .sec3 .box2 img{
        width: 300px;
    }

    .sec4 {
         min-height: 40vh;
    }
}














 /* background: linear-gradient(135deg, gray, lightgray);
     background: linear-gradient(135deg, #000000, #1a1a1a);
      background: linear-gradient(135deg, #0a1a33, #000000);
       background: linear-gradient(135deg, #3b0a1a, #000000);
        background: linear-gradient(135deg, #103d25, #1a1a1a); */
